.feature-header {
  background-color: #17a2b8;
  padding: 30px 20px;
  .key-feature {
    .feature-heading {
      padding: 40px 0;
      text-align: center;
      h2 {
        font-size: 32px;
        text-transform: uppercase;
        color: #00394f;
      }
    }
    .card-head {
      display: flex;
      align-items: center;
      justify-content: center;
      .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 80px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .feature-header {
    .key-feature {
      .feature-heading {
        h2 {
          font-size: 28px;
        }
      }
      .card-head {
        .cards {
          grid-template-columns: 1fr;
          gap: 50px;
        }
      }
    }
  }
}
