.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal {
    background: white;
    padding: 10px;
    border-radius: 8px;
    position: relative;
    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      position: relative;
      p {
        font-size: 18px;
        padding: 20px;
      }
      .modal-close {
        background: transparent;
        border: none;
        font-size: 14px;

        cursor: pointer;
        margin-bottom: 80px;
        color: #6e7a81;
      }
    }
    .modal-actions {
      display: flex;
      justify-content: space-evenly;
      padding: 20px;

      .modal-btn {
        padding: 10px 20px;
        background-color: #005b83;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #00415d;
        }
      }
    }
  }
}
