.about {
  position: relative;
  height: calc(100vh - 19rem);
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 25rem;
  background-color: #fff;

  h3 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
  }
  p {
    font-size: 1rem;
    font-weight: 350;
    letter-spacing: 0.1rem;
    word-spacing: 0.25em;
    text-align: justify;
    margin: 1rem;
  }
}
