.footer {
  background-color: #00394f;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 70px;
}

.social-media,
.useful-links,
.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  h4 {
    color: #17a2b8;
  }
}

.social-media {
  grid-column: span 1;
}

.useful-links {
  grid-column: span 1;
}

.contact-us {
  grid-column: span 1;
  h4 {
    color: #17a2b8;
  }
}

.title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #17a2b8;
}

.social-icon {
  display: flex;
  gap: 15px;
}

.social-media-icon {
  width: 30px;
  height: 30px;
}

.info {
  margin-top: 20px;
}

.info-d {
  display: block;
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
}

.info-d:hover {
  text-decoration: underline;
}

.icon {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.footer-bottom {
  grid-column: span 3;
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    padding: 20px 0;
    gap: 30px;
  }
  .footer-bottom {
    font-size: 12px;
  }
}
