.enroll-now {
  display: none;
  height: 80px;
  padding: 5px 10px;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(35, 140, 156, 0.5);
  backdrop-filter: blur(10px);
  position: sticky;

  .enroll-now-des {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      color: #06252d;
      font-size: 20px;
    }
  }

  .enroll-now-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 60px;
    max-width: 305px;
    margin: 5px 20px;
    background-color: #17a2b8;
    color: white;
    height: 60px;
    border-radius: 10px;
    &:hover {
      background-color: #066a92;
      cursor: pointer;
    }
    p {
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

@media screen and (min-width: 768px) {
  .enroll-now {
    display: flex;
    top: 0;
  }
}

@media screen and (max-width: 768px) {
  .enroll-now {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .enroll-now {
    height: 70px;
    .enroll-now-des {
      p {
        font-size: 14px;
      }
    }
    .enroll-now-button {
      padding: 10px 20px;
      height: 50px;
      p {
        font-size: 14px;
      }
    }
  }
}
